@media (width < 770px) {
  /* -------------page4------------ */
  .Pages4 {
    width: 100vw;
    height: 80vh;
    padding: 0 15px 0 15px;
    overflow: auto;
  }

  /* ----table-------- */
  .Pages4 .customers {
    width: 100%;
    background: white;
    overflow: auto;
    height: 100%;
    border: 1px solid grey;
  }

  .Pages4 thead tr {
    border-bottom: 1px solid gray;
  }

  .Pages4 .customers table {
    width: 61em;
  }

  .Pages4 .trbody {
    border-bottom: 1px solid gray;
  }

  .Pages4 .index {
    width: 50px;
    padding: 10px 0 10px 0;
  }

  .Pages4 b {
    display: flex;
    border-right: 1px solid grey;
    width: 100%;
    padding-left: 10px;
  }

  .Pages4 span {
    display: flex;
    width: 100%;
    padding-left: 10px;
  }

  .Pages4 .name {
    width: 20em;
    padding: 10px 0 10px 0;
  }

  .Pages4 .name img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  .Pages4 .email {
    width: 20em;
    padding: 10px;
  }

  .Pages4 .pending {
    width: 6em;
    padding: 10px 0 10px 0;
  }

  .Pages4 .action {
    display: flex;
    width: 10em;
    padding: 10px;
  }

  .Pages4 .individual {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    height: 100%;
    overflow-y: auto;
  }

  .Pages4 .individual aside {
    display: flex;
    padding: 10px;
    gap: 15px;
    background: pink;
    height: 30%;
  }

  .Pages4 .individual aside div {
    font-size: large;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0 15px 15px 0;
  }

  .Pages4 .individual aside img {
    max-width: 10em;
    border-radius: 100%;
  }

  .Pages4 .individual aside div p {
    margin: 0;
  }

  .Pages4 .individual main {
    background: violet;
    display: flex;
    flex-direction: column;
    height: 30%;
  }

  .Pages4 .individual main div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    height: 5em;
  }

  .Pages4 .individual footer {
    border: 1px solid;
    background: white;
    overflow: auto;
    height: 40%;
  }

  .Pages4 .individual footer table {
    width: 80em;
  }

  .Pages4 :where(.cakeType) {
    width: 25em;
  }

  .Pages4 .orderID {
    width: 25em;
  }

  .Pages4 :where(.cakeStatus, .cakeRating) {
    width: 15em;
  }
}

@media (width > 770px) {
  .Pages4 {
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 50px 0 0 0;
  }

  .Pages4 .customers {
    width: 100%;
    background: white;
    overflow: auto;
    height: 40em;
    border: 1px solid grey;
  }

  .Pages4 thead tr {
    border-bottom: 1px solid gray;
  }

  .Pages4 .customers table {
    width: 100%;
  }

  .Pages4 .trbody {
    border-bottom: 1px solid gray;
  }

  .Pages4 .index {
    width: 10%;
    padding: 10px 0 10px 0;
  }

  .Pages4 b {
    display: flex;
    border-right: 1px solid grey;
    width: 100%;
    padding-left: 10px;
  }

  .Pages4 span {
    display: flex;
    width: 100%;
    padding-left: 10px;
  }

  .Pages4 .name {
    width: 30%;
    padding: 10px 0 10px 0;
  }

  .Pages4 .name img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
  }

  .Pages4 .email {
    width: 30%;
    padding: 10px;
  }

  .Pages4 .pending {
    width: 15%;
    padding: 10px 0 10px 0;
  }

  .Pages4 .action {
    display: flex;
    width: 100%;
    padding: 10px;
  }

  .Pages4 .individual {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
  }

  .Pages4 .individual aside {
    display: flex;
    padding: 50px;
    gap: 15px;
    background: pink;
    height: 40%;
    width: 50%;
    margin-right: 10%;
  }

  .Pages4 .individual aside div {
    font-size: x-large;
    display: flex;
    flex-direction: column;
    padding: 0 15px 15px 0;
  }

  .Pages4 .individual aside img {
    max-width: 10em;
    height: 100%;
    border-radius: 100%;
  }

  .Pages4 .individual aside div p {
    margin: 0;
  }

  .Pages4 .individual main {
    height: 40%;
    width: 40%;
    background: violet;
    display: flex;
    flex-direction: column;
  }

  .Pages4 .individual main div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    height: 88%;
  }

  .Pages4 .individual footer {
    border: 1px solid;
    height: 50%;
    width: 100%;
    background: white;
  }

  .Pages4 .individual footer table {
    width: 100%;
  }

  .Pages4 :where(.cakeType) {
    width: 30%;
  }

  .Pages4 .orderID {
    width: 30%;
  }

  .Pages4 :where(.cakeStatus, .cakeRating) {
    width: 20%;
  }
}

.star {
  color: yellow;
}
