@media (width < 880px) {
  /* -------------page4------------ */
  .Pages4 {
    width: 100vw;
    height: 80vh;
  }

  .Pages4 header {
    width: 100vw;
    height: 20vh;
    padding: 20px;
  }

  .Pages4 body {
    width: 100vw;
    height: 70vh;
    background: rgb(82, 138, 243);
    padding: 20px;
    border-radius: 10px;
  }
}
