.Done {
  width: 30em;
  padding: 10px;
  height: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: lightgrey;
}

.Done h4 {
  display: flex;
  justify-content: center;
}

.Done p:nth-child(7) {
  display: flex;
  justify-content: center;
}

.Done span:nth-child(8) {
  display: inline-flex;
  width: 70%;
}

.Done span:nth-child(9) {
  display: inline-flex;
  width: 30%;
}

.Done span:nth-child(11) {
  display: inline-flex;
  width: 70%;
}

.Done span:nth-child(12) {
  display: inline-flex;
  width: 30%;
}

.Done span:nth-child(14) {
  display: inline-flex;
  width: 70%;
}

.Done span:nth-child(15) {
  display: inline-flex;
  width: 30%;
}

.Done span:nth-child(17) {
  display: inline-flex;
  width: 70%;
}

.Done span:nth-child(18) {
  display: inline-flex;
  width: 30%;
}

.Done span:nth-child(21) {
  display: inline-flex;
  width: 70%;
}

.Done span:nth-child(22) {
  display: inline-flex;
  width: 30%;
}

.Done p:nth-child(33) {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
}
