@media (width < 770px) {
  /* -------------page2------------ */
  .Pages2 {
    width: 100vw;
    height: 80vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .Pages2 .index {
    background: hsl(30, 90%, 90%);
    border-radius: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 21em;
    margin-bottom: 10px;
  }

  .Pages2 .order {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .Pages2 .order img {
    width: 100%;
    height: 50%;
  }

  .Pages2 .pop {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  .Pages2 .pop img {
    width: 70%;
    height: 60%;
    animation: popup 0.5s;
  }

  .Pages2 .pop button {
    position: absolute;
    color: red;
    top: 15%;
    left: 10%;
  }

  @keyframes popup {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  .Pages2 .loadOng {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Pages2 .orderInfo {
    background: pink;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
  }

  .Pages2 .detalsOrder {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100vh;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.Pages2 .ongLoad {
  border: 4px solid white;
  border-left-color: transparent;
  border-radius: 50%;
}

.Pages2 .ongLoad {
  border: 4px solid white;
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.Pages2 .ongLoad {
  border: 4px solid white;
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Pages2 .orderCon {
  background: white;
  height: 100px;
  height: auto;
  overflow: auto;
  padding: 10px;
  height: 100%;
}

.Pages2 .orderCon div {
  background: rgb(227, 227, 227);
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
}

.Pages2 .openDetail {
  padding: 1em;
  border: 1px solid #121212;
  border-radius: 4px;
  margin-top: 5px;
}

@media (width > 770px) {
  .Pages2 header {
    display: none;
  }
  .Pages2 {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 50px;
  }

  .Pages2::-webkit-scrollbar {
    width: 10px;
  }

  .Pages2::-webkit-scrollbar-thumb {
    background-color: bisque;
    border-radius: 20px;
    border: 3px solid orange;
  }

  .Pages2 .index {
    background: hsl(30, 90%, 90%);
    border-radius: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 25em;
  }

  .Pages2 .order {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .Pages2 .order img {
    width: 100%;
    height: 20%;
  }

  .Pages2 .loadOng {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Pages2 .orderInfo {
    background: pink;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    z-index: 1;
  }

  .Pages2 .detalsOrder {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.Pages2 .process {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 50px;
}
.Pages2 .loadingPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Pages2 .errorPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Pages2 .errorPage img {
  width: 10%;
  height: 10%;
}

.uploadPic {
  width: 100px;
}

.Pages2 .pop {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.Pages2 .pop img {
  width: 70%;
  height: 60%;
  animation: popup 0.5s;
  object-fit: contain;
}

.Pages2 .pop button {
  position: absolute;
  color: red;
  top: 0%;
  left: 0%;
}

@keyframes popup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.Pages2 .detalsOrder form {
  border: 1px solid;
  height: auto;
  width: 30em;
  padding: 10px;
  background: white;
}

/* --------------------animation process---------------- */
.loader {
  width: 65px;
  height: 65px;
  border: 8px solid #ee9b00a6;
  border-radius: 50px;
  position: relative;
}

.loader span {
  display: block;
  background: #ee9b00;
}

.loader .hour,
.loader .min {
  width: 6px;
  height: 22px;
  border-radius: 50px;
  position: absolute;
  top: 24.5px;
  left: 21px;
  animation: load9243 1.2s linear infinite;
  transform-origin: top center;
}

.loader .min {
  height: 17px;
  animation: load9243 4s linear infinite;
}

.loader .circel {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  position: absolute;
  top: 19px;
  left: 19px;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #474bff #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes load9243 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
