@media (width < 880px) {
  /* -------------page2------------ */
  .Pages2 {
    width: 100vw;
    height: 80vh;
    background: rgb(17, 164, 193);
    padding: 20px;
    padding: 20px;
    overflow: auto;
  }

  .num p {
    background: bisque;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
  }
}
