@media (width < 770px) {
  .Pages1 {
    width: 100vw;
    height: 80vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .Pages1 .body {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    gap: 10px;
    padding: 2px;
  }
  .Pages1 .order {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 30px;
    background: hsl(30, 90%, 90%);
    border-radius: 5%;
  }

  /* ------body------- */

  .Pages1 .png {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .Pages1 .png h2 {
    font-size: 35 px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .Pages1 .png img {
    width: 60%;
    height: 90%;
  }

  .Pages1 .pop {
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  .Pages1 .pop img {
    width: 70%;
    height: 60%;
    animation: popup 0.5s;
  }

  .Pages1 .pop button {
    position: absolute;
    color: red;
    top: 0%;
    left: 0%;
  }

  @keyframes popup {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  /* ----------details---------- */

  .Pages1 .details {
    display: flex;
    gap: 50px;
    height: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }

  /* ----------descripion----------- */

  .Pages1 .description {
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* -------decison making------- */

  .Pages1 .settle {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20%;
    width: 100%;
  }

  .Pages1 .decision {
    width: 90%;
  }

  .Pages1 .finalDecision {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 2;
  }

  .Pages1 .finalDecision div {
    color: rgb(0, 0, 0);
    background: hsl(30, 90%, 90%);
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .Pages1 .declineBox {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 2;
  }

  .Pages1 .declineCon {
    background: hsl(30, 90%, 90%);
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  /* ---personal info----- */
  .Pages1 :where(.icon, .close) {
    cursor: pointer;
  }

  .Pages1 .personalPop {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 2;
  }

  .Pages1 .container {
    display: flex;
    flex-direction: column;
    height: 60%;
    background: white;
    border-radius: 20%;
    padding: 50px;
    row-gap: 10px;
    animation: popup 0.5s;
  }

  .Pages1 .container :where(.name, .email, .phone) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    background: hsl(30, 90%, 90%);
  }

  .Pages1 .container .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    border-radius: 30%;
  }

  .Pages1 .container .profile .icon {
    background: hsl(30, 90%, 90%);
    height: 40%;
    padding: 10px;
    border-radius: 100%;
  }
}

.Pages1 details.styled {
  padding: 1em;
  border: 1px solid #121212;
  border-radius: 4px;
}

.Pages1 details.styled summary {
  outline: none;
}

.Pages1 .description {
  background: whitesmoke;
  height: 80%;
  padding: 10px;
  overflow: auto;
}

.Pages1 .description p {
  background: rgb(227, 227, 227);
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
}

.Pages1 details[open].styled {
  background: pink;
  z-index: 1;
}

.Pages1 details[open].styled summary {
  background: whitesmoke;
  padding: 10px;
}

.Pages1 .details b {
  background-color: whitesmoke;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  padding: 5px;
}

/* -------dates--------------- */

.Pages1 .dates {
  height: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
}

@media (width > 770px) {
  .Pages1 header {
    display: none;
  }

  .Pages1 {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 50px;
  }

  .Pages1::-webkit-scrollbar {
    width: 10px;
  }

  .Pages1::-webkit-scrollbar-thumb {
    background-color: bisque;
    border-radius: 20px;
    border: 3px solid orange;
  }

  .Pages1 .body {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    gap: 10px;
    padding: 2px;
  }
  .Pages1 .order {
    height: 25em;
    width: 30em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 30px;
    border-radius: 5%;
    background: hsl(30, 90%, 90%);
  }

  /* ------body------- */

  .Pages1 .png {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .Pages1 .png img {
    width: 60%;
    height: 90%;
  }

  .Pages1 .pop {
    display: none;
  }

  /* ----------details---------- */

  .Pages1 .details {
    display: flex;
    gap: 50px;
    height: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }

  /* ----------descripion----------- */

  .Pages1 .description {
    background: whitesmoke;
    height: 90%;
    padding: 10px;
    overflow: auto;
  }

  .Pages1 .description {
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* -------decison making------- */

  .Pages1 .settle {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10%;
    width: 100%;
  }

  .Pages1 .decision {
    width: 90%;
  }

  .Pages1 .finalDecision {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 2;
  }

  .Pages1 .finalDecision div {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .Pages1 .payment {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    gap: 10px;
  }

  .Pages1 .payment .payType {
    background: rgb(6, 48, 238);
    height: 2em;
    width: auto;
    padding: 10px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
  }

  .Pages1 .declineBox {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 2;
  }

  .Pages1 .declineCon {
    background: hsl(30, 90%, 90%);
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  /* ---personal info----- */
  .Pages1 :where(.icon, .close) {
    cursor: pointer;
  }

  .Pages1 .personalPop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 2;
  }

  .Pages1 .container {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 45%;
    background: white;
    border-radius: 20%;
    padding: 50px;
    row-gap: 10px;
    animation: popup 0.5s;
  }

  .Pages1 .container :where(.name, .email, .phone) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    background: hsl(30, 90%, 90%);
  }

  .Pages1 .container .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    border-radius: 30%;
  }

  .Pages1 .container .profile .icon {
    height: 40%;
    padding: 10px;
    border-radius: 100%;
  }

  @keyframes popup {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
}

.Pages1 .loadingPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Pages1 .errorPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Pages1 .errorPage img {
  width: 10%;
  height: 10%;
}
