.Reset {
  background: #e8e8e8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Reset .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #1e1e1e;
  padding: 20px;
  border: 1px solid #3d3c3c;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 20px;
}

.Reset .form input {
  height: 35px;
  outline: none;
  border: 2px solid orange;
  background: transparent;
  padding: 20px 10px;
  border-radius: 5px;
  transition: 0.5s;
  color: white;
  font-size: 20px;
}

.Reset .form input:focus {
  background: orange;
}

.Reset .form button {
  width: 100%;
  color: white;
  transition: 0.5s;
  font-size: 20px;
  outline: none;
  border: none;
  height: 45px;
  border-radius: 5px;
  background: orange;
  align-self: flex-end;
}
