@media (width < 880px) {
  /* ----------------bakedgoodies--------------------- */
  .Home {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 100vw;
  }
  .dashboard {
    display: flex;
    flex-direction: column;
    height: 20vh;
  }
  .dashCon {
    height: 50%;
    display: flex;
  }

  .dashbox1 {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dashbox2 {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashbox3 {
    display: flex;
    width: 20%;
    height: 100%;
    object-fit: none;
    justify-content: end;
  }

  .reqBody {
    display: flex;
    height: 90vh;
  }

  .sideBar1 {
    display: flex;
    height: 10vh;
    width: 100%;
    background: rgb(231, 231, 231);
  }

  .sideBar1 .con1 {
    border: 1px solid black;
    display: flex;
    width: 25%;
    color: #d53f8c;
  }

  .sideBar1 .icon {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ----pc screen--- */

  .sideBar2 {
    display: none;
  }
}
