@media (width < 770px) {
  /* ----------------bakedgoodies--------------------- */
  .Home {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 100vw;
    color: black;
  }

  .Home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;

    background-image: url(/public/pink.jpg);
    background-size: cover;
  }

  /* -------dashboard---------- */
  .dashboard {
    display: flex;
    flex-direction: column;

    height: 20vh;
  }

  .dashCon {
    height: 50%;
    display: flex;
  }

  .dashbox1 {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .dashbox1 .userSecret {
    height: 30px;
  }

  .dashbox2 {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashbox3 {
    display: flex;
    width: 20%;
    height: 100%;
    object-fit: none;
    justify-content: end;
  }

  /* --------icons--------- */

  .iconBar {
    display: flex;
    height: 10vh;
    width: 100%;
  }

  .iconBar .icon {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon:hover .icon1 {
    transform: scale(1.2);
  }

  /* ----pc screen--- */

  .iconBar2 {
    display: none;
  }

  .userInter {
    display: none;
  }

  .dashbox3 h3 {
    display: none;
  }
}

/* --------------------pc screen------------------------ */
@media (width > 770px) {
  .iconBar {
    display: none;
  }

  /* ------sidebar------- */
  .dashboard-main {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    /* cursor: url(/Food-Pastry-Bag-icon.png), auto;  */
    background-image: url(/public/pink.jpg);
    background-size: 100% 100%;
  }
  .dashboard-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #ffffff10;
    backdrop-filter: blur(120px);
    -webkit-backdrop-filter: blur(120px);
    border-radius: 20px;
    color: black;
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20vw;
  }

  .dashCon {
    height: auto;
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
  }

  .dashbox1 {
    display: none;
  }

  .dashbox2 {
    display: none;
  }

  .dashbox3 {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .dashbox3 img {
    display: none;
  }

  .dashbox3 h3 {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  /* ------icons------- */

  .iconBar2 .con1 {
    display: flex;
    font-size: 1em;
    height: 4em;
    cursor: pointer;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .iconBar2 h4 {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .iconBar2 .icon {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .userInter {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 40%;
  }

  .userInter .con1 {
    display: flex;
    font-size: 1em;
    height: 4em;
  }

  .userInter h4 {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .userInter .icon {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

* {
  font-family: "Dancing Script", cursive;
  font-family: "Pacifico", cursive;
}
