@media (width < 880px) {
  /* ----------------bakedgoodies--------------------- */
  .Home {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 100vw;
  }

  /* -------dashboard---------- */
  .dashboard {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #2cd9ff, #7effb2);
    background-size: 400% 400%;
    animation: devblog 2.5s infinite ease-in-out;
    height: 20vh;
  }

  @keyframes devblog {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  .dashCon {
    height: 50%;
    display: flex;
  }

  .dashbox1 {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  .dashbox2 {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashbox3 {
    display: flex;
    width: 20%;
    height: 100%;
    object-fit: none;
    justify-content: end;
  }

  /* --------icons--------- */

  .iconBar {
    display: flex;
    height: 10vh;
    width: 100%;
  }

  .iconBar .con1 {
    border: 1px solid black;
    display: flex;
    width: 25%;
    color: #d53f8c;
  }

  .iconBar .icon {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon:hover .icon1 {
    transform: scale(1.2);
  }

  .icon:hover {
    background-color: white;
  }

  /* ----pc screen--- */

  .sideBar2 {
    display: none;
  }
}
